[Unit]
Description=Telegram Video Streamer
After=network.target

[Service]
Type=simple
User=tgstream
Group=tgstream
WorkingDirectory=/opt/tg_video_streamer/current/streamer
EnvironmentFile=/opt/tg_video_streamer/current/.env
ExecStart=/opt/tg_video_streamer/current/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
